{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="text-center">
    <h1>Contact Me</h1>
    <p class="lead mt-4">Feel free to reach out!</p>

    <div class="mt-4">
        <p><strong>Email:</strong> <a href="mailto:jacksonpogue3@gmail.com">jacksonpogue3@gmail.com</a></p>
    
        <a href="https://www.linkedin.com/in/jacksonpogue3/" class="btn btn-outline-primary m-2" target="_blank">
            <i class="bi bi-linkedin"></i> LinkedIn
        </a>
        <a href="https://github.com/jacksonpogue3" class="btn btn-outline-github m-2" target="_blank">

            <i class="bi bi-github"></i> GitHub
        </a>
    </div>
    
</div>
{% endblock %}
