{% extends "base.html" %}

{% block title %}About Me{% endblock %}

{% block content %}
<div class="text-center">
    <h1>Nice to Meet You!</h1>
    <p class="lead mt-4">
        I'm Jackson, a software engineer from Texas.<br><br>
        I'm also a final year Computer Science undergraduate at Schreiner University in Kerrville, TX.<br>
        I am interning with Garmin this summer, and graduating in December 2025! After graduation, I will be pursuing full-time SWE roles.<br><br>
        I'm passionate about building projects that matter!
    </p>
    <a href="{{ url_for('static', filename='resume.pdf') }}" class="btn btn-primary btn-lg mt-3" target="_blank">Download Resume</a>

</div>
{% endblock %}
